---
BasedOnStyle: Microsoft
BreakBeforeBraces: Allman
ColumnLimit: '80'
IncludeBlocks: Regroup
IndentCaseLabels: 'true'
Language: Cpp
PointerAlignment: Right
SortUsingDeclarations: 'true'
SpaceAfterCStyleCast: 'true'
SpaceAfterLogicalNot: 'false'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeParens: ControlStatements
SpacesInParentheses: 'false'
Standard: Auto
TabWidth: '4'
UseTab: Never

...
